In [1]:
import pandas as pd
import datetime
from pandas import PeriodIndex, date_range
from pandas import DataFrame

In [10]:
df.to_csv('planning.csv')

In [11]:
365/float(12)

30.416666666666668

In [12]:
df1 = pd.read_csv('planning2.csv')

In [13]:
df1.Month = df1.Month.fillna(method='pad')

In [14]:
df1['L1 reg'] = df1['L1 reg'].fillna('n/a')

In [15]:
df2 = df1[['Month','DateTime', 'Day', 'Day reg', 'Night reg', 'L1 reg']]

In [16]:
df2.to_csv('planning3.csv')

In [17]:
doc_names = ['name1', 'name2', 'name3', 'name4', 'name5',
             'name6', 'name7', 'name8', 'name9', 'name10','name11',
             'name12', 'name13', 'name14', 'name15']

In [18]:
doc_lookup = dict(zip(doctors['reg'], doc_names))

In [19]:
doc_lookup

{1: 'name1',
 2: 'name2',
 3: 'name3',
 4: 'name4',
 5: 'name5',
 6: 'name6',
 7: 'name7',
 8: 'name8',
 9: 'name9',
 10: 'name10',
 11: 'name11',
 12: 'name12',
 13: 'name13',
 14: 'name14',
 15: 'name15'}

In [20]:
st = 1
en = 16
#months = {}
#for i in range(0,15):
#  print range(st+i, en+i)
rota_months = ['month', 
               'm1', 'm2', 'm3', 'm4', 'spare1','m5', 'm6', 
               'm1.2', 'm2.2', 'm3.2', 'm4.2', 'spare1.2', 'm5.2', 'm6.2',
               'float']

In [21]:
lookup = pd.read_csv('lookup.csv')

In [22]:
for column in lookup.columns:
    lookup[column] = lookup[column].map(lambda x: (x) if x < 16 else (x-15))
    lookup[column] = lookup[column].map(doc_lookup.get)

In [23]:
lookup.to_csv('lookup2.csv')

In [24]:
lookup

,m1,m2,m3,z1,m4,m5,m6,M1.2,M2.2,M3.2,z2,M4.2,M5.2,M6.2,float
0,name1,name2,name3,name4,name5,name6,name7,name8,name9,name10,name11,name12,name13,name14,name15
1,name2,name3,name4,name5,name6,name7,name8,name9,name10,name11,name12,name13,name14,name15,name1
2,name3,name4,name5,name6,name7,name8,name9,name10,name11,name12,name13,name14,name15,name1,name2
3,name4,name5,name6,name7,name8,name9,name10,name11,name12,name13,name14,name15,name1,name2,name3
4,name5,name6,name7,name8,name9,name10,name11,name12,name13,name14,name15,name1,name2,name3,name4
5,name6,name7,name8,name9,name10,name11,name12,name13,name14,name15,name1,name2,name3,name4,name5
6,name7,name8,name9,name10,name11,name12,name13,name14,name15,name1,name2,name3,name4,name5,name6
7,name8,name9,name10,name11,name12,name13,name14,name15,name1,name2,name3,name4,name5,name6,name7
8,name9,name10,name11,name12,name13,name14,name15,name1,name2,name3,name4,name5,name6,name7,name8
9,name10,name11,name12,name13,name14,name15,name1,name2,name3,name4,name5,name6,name7,name8,name9
10,name11,name12,name13,name14,name15,name1,name2,name3,name4,name5,name6,name7,name8,name9,name10
11,name12,name13,name14,name15,name1,name2,name3,name4,name5,name6,name7,name8,name9,name10,name11
12,name13,name14,name15,name1,name2,name3,name4,name5,name6,name7,name8,name9,name10,name11,name12
13,name14,name15,name1,name2,name3,name4,name5,name6,name7,name8,name9,name10,name11,name12,name13
14,name15,name1,name2,name3,name4,name5,name6,name7,name8,name9,name10,name11,name12,name13,name14

In [25]:
df = df2

In [26]:
df.Month = df.Month.map(lambda x: x-1)
df.Month.unique()

/usr/local/lib/python2.7/dist-packages/pandas/core/generic.py:1830: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_index,col_indexer] = value instead
  self[name] = value

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.])

In [27]:
df_list = []
for month in range(0,13):
    df_list.append(df[df['Month'] == month])

In [28]:
for i, item in enumerate(df.Month.unique()):
   lookupdict = lookup.ix[i].to_dict()
   df_list[i]['Day reg'] =  df_list[i]['Day reg'].map(lookupdict.get)
   df_list[i]['Night reg'] =  df_list[i]['Night reg'].map(lookupdict.get)
   df_list[i]['L1 reg'] =  df_list[i]['L1 reg'].map(lookupdict.get)

-c:3: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_index,col_indexer] = value instead
-c:4: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_index,col_indexer] = value instead
-c:5: SettingWithCopyWarning: A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_index,col_indexer] = value instead

In [29]:
df = pd.concat(df_list)

In [33]:
df = df[['DateTime', 'Day', 'Day reg', 'Night reg', 'L1 reg']]
df.to_csv('reg_rota.csv')

In [34]:
df.head()

     DateTime  Day Day reg Night reg L1 reg
0  2014-08-06  Wed   name7    name14   None
1  2014-08-07  Thu   name7    name14   None
2  2014-08-08  Fri   name1    name13   None
3  2014-08-09  Sat   name1    name13  name5
4  2014-08-10  Sun   name1    name13  name5

[5 rows x 5 columns]

In [37]:
df[['Day reg', 'Night reg', 'L1 reg']].stack().value_counts().mean() #sanity check

55.466666666666669

In [38]:
df[['Day reg', 'Night reg', 'L1 reg']].stack().value_counts()

name10    62
name3     60
name13    60
name9     57
name2     57
name14    57
name11    55
name8     54
name1     54
name7     54
name15    54
name4     53
name12    53
name5     51
name6     51
dtype: int64